@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Montserrat:400,700|Open+Sans:300,400,400i,600,700");
body {
  background-color: #f0f2f5;
  font-size: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400; }

.title {
  color: #7d7e87;
  margin-bottom: 26px;
  font-size: 16px; }

.container {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 40px -16px black;
  margin-bottom: 50px; }

/*---------------------------------------------------------*/
/*----------------COLOR SCHEME-----------------*/
/*---------------------------------------------------------*/
.color-scheme {
  font-weight: 700; }
  .color-scheme__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .color-scheme__list__item {
      margin: 34px 0 34px 68px; }
      .color-scheme__list__item:first-child {
        margin-left: 82px; }
      .color-scheme__list__item:last-child {
        margin-right: 81px; }
      .color-scheme__list__item__colors {
        width: 200px;
        margin-bottom: 23px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row; }
        .color-scheme__list__item__colors p {
          width: 50%;
          height: 100px;
          color: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row; }
          .color-scheme__list__item__colors p:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; }
          .color-scheme__list__item__colors p:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px; }
        .color-scheme__list__item__colors--pink p:first-child {
          background-color: #eb586f; }
        .color-scheme__list__item__colors--pink p:last-child {
          background-color: #d14e63; }
        .color-scheme__list__item__colors--blue p:first-child {
          background-color: #4aa0d5; }
        .color-scheme__list__item__colors--blue p:last-child {
          background-color: #428ebe; }
        .color-scheme__list__item__colors--sky p:first-child {
          background-color: #d8e9f0; }
        .color-scheme__list__item__colors--sky p:last-child {
          background-color: #c0cfd6; }
        .color-scheme__list__item__colors--coal p:first-child {
          background-color: #454553; }
        .color-scheme__list__item__colors--coal p:last-child {
          background-color: #3d3d4a; }
      .color-scheme__list__item__name {
        color: #7d7e87;
        text-align: center; }

/*---------------------------------------------------------*/
/*----------------TYPOGRAPHY-----------------*/
/*---------------------------------------------------------*/
.typography__examples {
  color: #3d3d4a;
  padding-bottom: 70px; }
  .typography__examples p:first-child {
    color: #7d7e87;
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans";
    font-style: normal;
    padding-top: 40px; }
  .typography__examples__montserrat {
    font-family: 'Montserrat';
    margin-left: 83px; }
    .typography__examples__montserrat--regular {
      font-size: 56px;
      font-weight: 400; }
    .typography__examples__montserrat--bold {
      font-weight: 700; }
      .typography__examples__montserrat--bold--48px {
        font-size: 48px; }
      .typography__examples__montserrat--bold--32px {
        font-size: 32px; }
      .typography__examples__montserrat--bold--24px {
        font-size: 24px; }
  .typography__examples__libre-baskerville {
    font-family: 'Libre Baskerville';
    margin-left: 83px; }
    .typography__examples__libre-baskerville--italic {
      font-size: 20px;
      font-weight: 400;
      font-style: italic; }
    .typography__examples__libre-baskerville--regular {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row; }
      .typography__examples__libre-baskerville--regular--20px {
        font-size: 20px;
        margin-right: 115px; }
      .typography__examples__libre-baskerville--regular--16px {
        font-size: 16px; }
  .typography__examples__open-sans {
    margin-left: 83px; }
    .typography__examples__open-sans--15px {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row; }
      .typography__examples__open-sans--15px--regular {
        font-weight: 400;
        font-size: 15px;
        margin-right: 260px; }
      .typography__examples__open-sans--15px--italic {
        font-size: 15px;
        font-style: italic; }
    .typography__examples__open-sans--bold {
      font-weight: 700; }

/*---------------------------------------------------------*/
/*----------------BUTTONS-----------------*/
/*---------------------------------------------------------*/
.buttons p {
  color: #7d7e87;
  font-weight: 600;
  margin: 0 0 10px 13px; }

.buttons p:first-child {
  margin-top: 45px; }

.buttons__examples {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .buttons__examples__button {
    margin-right: 65px; }
    .buttons__examples__button:first-child {
      margin-left: 28px; }
    .buttons__examples__button:last-child {
      margin-right: 28px; }
    .buttons__examples__button button {
      font-weight: 700;
      color: white;
      margin-bottom: 40px;
      outline: none;
      width: 230px;
      height: 50px; }
      .buttons__examples__button button p {
        color: white;
        margin: 0 0 0 0; }
      .buttons__examples__button button.buttons__examples__button--blue-lighter--regular {
        color: #4aa0d5; }
      .buttons__examples__button button.buttons__examples__button--blue-lighter--disabled {
        color: #6eacd2; }
      .buttons__examples__button button.buttons__examples__button--pink-lighter--regular {
        color: #eb586f; }
      .buttons__examples__button button.buttons__examples__button--pink-lighter--disabled {
        color: #ec6076; }
    .buttons__examples__button--blue--regular {
      background-color: #4aa0d5;
      border-top: 0px solid #4aa0d5;
      border-right: 0px solid #4aa0d5;
      border-bottom: 3px solid #2c87c0;
      border-left: 0px solid #4aa0d5; }
    .buttons__examples__button--blue--howered {
      background-color: #1695e3;
      border-top: 0px solid #1695e3;
      border-right: 0px solid #1695e3;
      border-bottom: 3px solid #1176b5;
      border-left: 0px solid #1695e3; }
    .buttons__examples__button--blue--disabled {
      background-color: #89c1e4;
      border-top: 0px solid #89c1e4;
      border-right: 0px solid #89c1e4;
      border-bottom: 0px solid #89c1e4;
      border-left: 0px solid #89c1e4; }
    .buttons__examples__button--pink i {
      font-size: 22px;
      margin: 0 25px 0 30px; }
    .buttons__examples__button--pink--regular {
      background-color: #eb586f;
      border-top: 0px solid #eb586f;
      border-right: 0px solid #eb586f;
      border-bottom: 3px solid #e62a48;
      border-left: 0px solid #eb586f; }
    .buttons__examples__button--pink--howered {
      background-color: #eb415b;
      border-top: 0px solid #eb415b;
      border-right: 0px solid #eb415b;
      border-bottom: 3px solid #e11837;
      border-left: 0px solid #eb415b; }
    .buttons__examples__button--pink--disabled {
      background-color: #f292a1;
      border-top: 0px solid #f292a1;
      border-right: 0px solid #f292a1;
      border-bottom: 0px solid #f292a1;
      border-left: 0px solid #f292a1; }
    .buttons__examples__button--blue-lighter--regular {
      background-color: white;
      border-top: 3px solid #4aa0d5;
      border-right: 3px solid #4aa0d5;
      border-bottom: 3px solid #4aa0d5;
      border-left: 3px solid #4aa0d5; }
    .buttons__examples__button--blue-lighter--howered {
      background-color: #4aa0d5;
      border-top: 0px solid #4aa0d5;
      border-right: 0px solid #4aa0d5;
      border-bottom: 0px solid #4aa0d5;
      border-left: 0px solid #4aa0d5; }
    .buttons__examples__button--blue-lighter--disabled {
      background-color: #c9e3f2;
      border-top: 0px solid #c9e3f2;
      border-right: 0px solid #c9e3f2;
      border-bottom: 0px solid #c9e3f2;
      border-left: 0px solid #c9e3f2; }
    .buttons__examples__button--pink-lighter--regular {
      background-color: white;
      border-top: 3px solid #eb586f;
      border-right: 3px solid #eb586f;
      border-bottom: 3px solid #eb586f;
      border-left: 3px solid #eb586f; }
    .buttons__examples__button--pink-lighter--howered {
      background-color: #eb586f;
      border-top: 0px solid #eb586f;
      border-right: 0px solid #eb586f;
      border-bottom: 0px solid #eb586f;
      border-left: 0px solid #eb586f; }
    .buttons__examples__button--pink-lighter--disabled {
      background-color: #f9cdd4;
      border-top: 0px solid #f9cdd4;
      border-right: 0px solid #f9cdd4;
      border-bottom: 0px solid #f9cdd4;
      border-left: 0px solid #f9cdd4; }

.buttons .normal button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; }

.buttons .normal .buttons__examples__button--pink button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.buttons .rounded button {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

.buttons .rounded .buttons__examples__button--pink button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse; }

/*---------------------------------------------------------*/
/*----------------ACTION NOTIFICATION-----------------*/
/*---------------------------------------------------------*/
.action-notification__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .action-notification__list__item {
    width: 1115px;
    height: 50px;
    margin-top: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .action-notification__list__item:first-child {
      margin-top: 40px; }
    .action-notification__list__item:last-child {
      margin-bottom: 40px; }
    .action-notification__list__item p {
      color: white;
      margin-left: 55px;
      font-weight: 700; }
    .action-notification__list__item i {
      margin-right: 25px;
      color: rgba(0, 0, 0, 0.4);
      font-size: 30px; }
    .action-notification__list__item--red {
      background-color: #eb4141; }
    .action-notification__list__item--yellow {
      background-color: #f6b61e; }
    .action-notification__list__item--green {
      background-color: #6cca33; }

/*---------------------------------------------------------*/
/*----------------RADIO BUTTONS-----------------*/
/*---------------------------------------------------------*/
.radio-buttons__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .radio-buttons__list:after {
    content: "";
    height: 1px;
    width: 1061px;
    background-color: #e9e9e9;
    margin: 0 auto 0 auto; }
  .radio-buttons__list__example {
    font-weight: 600;
    color: #454553;
    margin: 50px 0 48px 0; }
    .radio-buttons__list__example:first-child {
      margin-left: 53px;
      width: 304px; }
    .radio-buttons__list__example:nth-child(2) {
      width: 294px; }
    .radio-buttons__list__example:nth-child(3) {
      width: 280px; }
    .radio-buttons__list__example input[type="radio"] {
      display: none; }
    .radio-buttons__list__example input[type="radio"] + label:before {
      background-color: #e9e9e9;
      height: 18px;
      width: 18px;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: -5px 20px 0 0; }
    .radio-buttons__list__example--on input[type="radio"] + label:before {
      background-color: #4aa0d5;
      height: 12px;
      width: 12px;
      border: 3px solid #e9e9e9; }
    .radio-buttons__list__example--hovered input[type="radio"] + label:before {
      background-color: #4aa0d5;
      height: 16px;
      width: 16px;
      border: 1px solid #e9e9e9; }
    .radio-buttons__list__example--disabled {
      color: #e9e9e9; }

/*---------------------------------------------------------*/
/*----------------CHECKBOXES-----------------*/
/*---------------------------------------------------------*/
.checkboxes__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap; }
  .checkboxes__list__example {
    font-weight: 600;
    color: #454553;
    margin: 50px 0 48px 0; }
    .checkboxes__list__example:first-child {
      margin-left: 53px;
      width: 305px; }
    .checkboxes__list__example:nth-child(2) {
      width: 295px; }
    .checkboxes__list__example:nth-child(3) {
      width: 281px; }
    .checkboxes__list__example input[type="checkbox"] {
      display: none; }
    .checkboxes__list__example input[type="checkbox"] + label:before {
      background-color: #e9e9e9;
      height: 18px;
      width: 18px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      content: "";
      display: inline-block;
      vertical-align: middle;
      margin: -5px 20px 0 0; }
    .checkboxes__list__example--checked input[type="checkbox"] + label:before {
      background-color: #eb586f;
      height: 12px;
      width: 12px;
      border: 3px solid #e9e9e9; }
    .checkboxes__list__example--hovered input[type="checkbox"] + label:before {
      background-color: #eb586f;
      height: 16px;
      width: 16px;
      border: 1px solid #e9e9e9; }
    .checkboxes__list__example--disabled {
      color: #e9e9e9; }

.sliders-switchers > .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }

/*---------------------------------------------------------*/
/*----------------SLIDERS-----------------*/
/*---------------------------------------------------------*/
.sliders {
  width: 865px; }
  .sliders__examples {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
    .sliders__examples__example {
      width: 350px;
      background-color: #e9e9e9;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      position: relative; }
      .sliders__examples__example:nth-child(1) {
        margin: 75px 50px 55px 55px; }
      .sliders__examples__example:nth-child(2) {
        margin: 75px 50px 55px 0; }
      .sliders__examples__example:nth-child(3) {
        margin: 0px 50px 75px 55px; }
      .sliders__examples__example--thin {
        height: 5px; }
        .sliders__examples__example--thin:after {
          content: "";
          height: 16px;
          width: 16px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          background-color: white;
          box-shadow: 0px 0px 12px 0px #dddddd;
          position: absolute;
          top: -6px; }
      .sliders__examples__example--thick {
        height: 10px; }
        .sliders__examples__example--thick:after, .sliders__examples__example--thick:before {
          content: "";
          height: 16px;
          width: 16px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;
          background-color: white;
          box-shadow: 0px 0px 12px 0px #dddddd;
          position: absolute;
          top: -3px; }
      .sliders__examples__example--blue:before {
        content: "";
        position: absolute;
        height: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 250px;
        background: linear-gradient(90deg, #428ebe, #4aa0d5); }
      .sliders__examples__example--blue:after {
        left: 245px; }
      .sliders__examples__example--red:before {
        content: "";
        position: absolute;
        height: 5px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 328px;
        background: linear-gradient(90deg, #bd5162, #fd4965); }
      .sliders__examples__example--red:after {
        left: 325px; }
      .sliders__examples__example--blue-strips div {
        width: 195px;
        height: 10px;
        background: linear-gradient(-45deg, black 5px, #369ddc 5px);
        margin-left: 65px; }
      .sliders__examples__example--blue-strips:before {
        left: 55px; }
      .sliders__examples__example--blue-strips:after {
        left: 250px; }
      .sliders__examples__example--red-strips div {
        width: 265px;
        height: 10px;
        background: linear-gradient(-45deg, #bd5162 5px, #fd4965 5px);
        margin-left: 30px; }
      .sliders__examples__example--red-strips:before {
        left: 20px; }
      .sliders__examples__example--red-strips:after {
        left: 285px; }
      .sliders__examples__example--red-strips p {
        position: absolute;
        padding: 7px 13px;
        background-color: #3d3d4a;
        color: white;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border: 4px solid #e9e9e9;
        top: 25px; }
        .sliders__examples__example--red-strips p:before {
          content: "";
          width: 0;
          height: 0;
          border-top: 9px solid transparent;
          border-right: 9px solid transparent;
          border-bottom: 9px solid #3d3d4a;
          border-left: 9px solid transparent;
          position: absolute;
          top: -16px;
          left: 16px;
          z-index: 3; }
        .sliders__examples__example--red-strips p:after {
          content: "";
          width: 0;
          height: 0;
          border-top: 12px solid transparent;
          border-right: 12px solid transparent;
          border-bottom: 12px solid #e9e9e9;
          border-left: 12px solid transparent;
          position: absolute;
          top: -25px;
          left: 13px;
          z-index: 1; }
        .sliders__examples__example--red-strips p:last-child {
          left: 265px; }

/*---------------------------------------------------------*/
/*----------------SWITCHERS-----------------*/
/*---------------------------------------------------------*/
.switchers__examples {
  width: 275px; }
  .switchers__examples__example {
    cursor: pointer; }
    .switchers__examples__example:first-child > div {
      margin: 30px 50px 35px 53px; }
    .switchers__examples__example:nth-child(2) > div {
      margin: 30px 0 35px 0; }
    .switchers__examples__example:nth-child(3) > div {
      margin: 0 50px 35px 53px; }
    .switchers__examples__example:nth-child(4) > div {
      margin: 0 0 35px 0; }
    .switchers__examples__example:nth-child(5) > div {
      margin: 0 50px 30px 53px; }
    .switchers__examples__example div {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      background-color: #e9e9e9;
      position: relative;
      width: 60px;
      height: 30px;
      transition: .2s; }
    .switchers__examples__example i {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.4); }
    .switchers__examples__example input {
      display: none; }
      .switchers__examples__example input:checked + div:before {
        background-color: #e9e9e9;
        left: 33px; }
    .switchers__examples__example--rounded div {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px; }
    .switchers__examples__example--rounded div:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 5px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      transition: .2s;
      top: 4px; }
    .switchers__examples__example--pointed div {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 16px;
      border-bottom-right-radius: 8px; }
    .switchers__examples__example--pointed div:before {
      content: "";
      position: absolute;
      width: 22px;
      height: 22px;
      left: 5px;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 6px;
      transition: .2s;
      top: 4px; }
    .switchers__examples__example--pointed p {
      color: rgba(0, 0, 0, 0.4);
      font-size: 10px;
      font-weight: 600; }
    .switchers__examples__example--red div:before {
      background-color: #d14e63; }
    .switchers__examples__example--red input:checked + div {
      background-color: #d14e63; }
    .switchers__examples__example--blue div:before {
      background-color: #428ebe; }
    .switchers__examples__example--blue input:checked + div {
      background-color: #428ebe; }
    .switchers__examples__example--blue i {
      color: rgba(0, 0, 0, 0.4); }

/*---------------------------------------------------------*/
/*----------------AMOUNT TEXTBOXES AND PROGRESS BARS-----------------*/
/*---------------------------------------------------------*/
.amount-textboxes_progress-bars > .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row; }

/*---------------------------------------------------------*/
/*----------------PROGRESS BARS-----------------*/
/*---------------------------------------------------------*/
.progress-bars {
  width: 860px; }
  .progress-bars__list {
    list-style: none;
    height: 373px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap; }
    .progress-bars__list__example span {
      display: block;
      position: relative; }
      .progress-bars__list__example span::before {
        width: 350px;
        position: absolute; }
    .progress-bars__list__example--small div {
      width: 344px;
      padding: 3px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;
      border: 1px solid #e9e9e9; }
      .progress-bars__list__example--small div span {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        height: 22px; }
        .progress-bars__list__example--small div span::before {
          height: 30px;
          text-align: center; }
    .progress-bars__list__example--big div {
      width: 344px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid #e9e9e9;
      border-right: 2px solid #d0d0d0; }
      .progress-bars__list__example--big div span {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 38px; }
        .progress-bars__list__example--big div span::before {
          width: 330px;
          height: 38px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          flex-direction: row; }
    .progress-bars__list__example--pink {
      margin: 35px 50px 60px 45px; }
      .progress-bars__list__example--pink span {
        background-color: #d14e63;
        width: 40%; }
        .progress-bars__list__example--pink span::before {
          content: "40%"; }
    .progress-bars__list__example--blue {
      margin: 0 50px 60px 45px; }
      .progress-bars__list__example--blue span {
        background-color: #4aa0d5;
        width: 83%; }
        .progress-bars__list__example--blue span::before {
          content: "83%";
          color: white; }
    .progress-bars__list__example--sky {
      margin: 30px 0 50px 0; }
      .progress-bars__list__example--sky span {
        background-color: #c0cfd6;
        width: 42%;
        border-bottom: 2px solid #b1c3cc; }
        .progress-bars__list__example--sky span::before {
          content: "42%"; }
    .progress-bars__list__example--coal {
      margin: 0 0 55px 0; }
      .progress-bars__list__example--coal span {
        background-color: #3d3d4a;
        width: 78%;
        border-bottom: 2px solid #31313c; }
        .progress-bars__list__example--coal span::before {
          content: "78%"; }
    .progress-bars__list__example .c100.normal {
      font-size: 100px; }
      .progress-bars__list__example .c100.normal:after {
        width: 60px;
        height: 60px;
        top: 20px;
        left: 20px; }
    .progress-bars__list__example .c100.blue {
      background-color: #e9e9e9;
      margin: 0 140px 0 140px; }
      .progress-bars__list__example .c100.blue span {
        color: #3d3d4a; }
      .progress-bars__list__example .c100.blue:after {
        background-color: white; }
      .progress-bars__list__example .c100.blue .bar, .progress-bars__list__example .c100.blue .fill {
        border-color: #4aa0d5; }
    .progress-bars__list__example .c100.sky {
      background-color: white;
      margin: 0 140px 0 0; }
      .progress-bars__list__example .c100.sky span {
        color: #3d3d4a; }
      .progress-bars__list__example .c100.sky:after {
        background-color: white; }
      .progress-bars__list__example .c100.sky .bar, .progress-bars__list__example .c100.sky .fill {
        border-color: #d8e9f0; }
    .progress-bars__list__example .c100.pink {
      background-color: #f292a1; }
      .progress-bars__list__example .c100.pink span {
        color: white; }
      .progress-bars__list__example .c100.pink:after {
        background-color: #3d3d4a; }
      .progress-bars__list__example .c100.pink .bar, .progress-bars__list__example .c100.pink .fill {
        border-color: #e8415b; }
