@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Montserrat:400,700|Open+Sans:300,400,400i,600,700");
body {
  background-color: #f0f2f5;
  font-size: 20px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 400; }

.title {
  color: #7d7e87;
  margin-bottom: 26px;
  font-size: 16px; }

.container {
  background-color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 40px -16px black;
  margin-bottom: 50px; }

/*---------------------------------------------------------*/
/*----------------COLOR SCHEME-----------------*/
/*---------------------------------------------------------*/
.color-scheme {
  font-weight: 700; }
  .color-scheme__list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; }
    .color-scheme__list__item {
      margin: 34px 0 34px 68px; }
      .color-scheme__list__item:first-child {
        margin-left: 82px; }
      .color-scheme__list__item:last-child {
        margin-right: 81px; }
      .color-scheme__list__item__colors {
        width: 200px;
        margin-bottom: 23px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row; }
        .color-scheme__list__item__colors p {
          width: 50%;
          height: 100px;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row; }
          .color-scheme__list__item__colors p:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px; }
          .color-scheme__list__item__colors p:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px; }
        .color-scheme__list__item__colors--pink p:first-child {
          background-color: #eb586f; }
        .color-scheme__list__item__colors--pink p:last-child {
          background-color: #d14e63; }
        .color-scheme__list__item__colors--blue p:first-child {
          background-color: #4aa0d5; }
        .color-scheme__list__item__colors--blue p:last-child {
          background-color: #428ebe; }
        .color-scheme__list__item__colors--sky p:first-child {
          background-color: #d8e9f0; }
        .color-scheme__list__item__colors--sky p:last-child {
          background-color: #c0cfd6; }
        .color-scheme__list__item__colors--coal p:first-child {
          background-color: #454553; }
        .color-scheme__list__item__colors--coal p:last-child {
          background-color: #3d3d4a; }
      .color-scheme__list__item__name {
        color: #7d7e87;
        font-size: 14px;
        text-align: center; }

/*---------------------------------------------------------*/
/*----------------TYPOGRAPHY-----------------*/
/*---------------------------------------------------------*/
.typography__examples {
  color: #3d3d4a;
  padding-bottom: 70px; }
  .typography__examples p:first-child {
    color: #7d7e87;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans';
    font-style: normal;
    padding-top: 40px; }
  .typography__examples__montserrat {
    font-family: 'Montserrat';
    margin-left: 83px; }
    .typography__examples__montserrat--regular {
      font-size: 56px;
      font-weight: 400; }
    .typography__examples__montserrat--bold {
      font-weight: 700; }
      .typography__examples__montserrat--bold--48px {
        font-size: 48px; }
      .typography__examples__montserrat--bold--32px {
        font-size: 32px; }
      .typography__examples__montserrat--bold--24px {
        font-size: 24px; }
  .typography__examples__libre-baskerville {
    font-family: 'Libre Baskerville';
    margin-left: 83px; }
    .typography__examples__libre-baskerville--italic {
      font-size: 20px;
      font-weight: 400;
      font-style: italic; }
    .typography__examples__libre-baskerville--regular {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row; }
      .typography__examples__libre-baskerville--regular--20px {
        font-size: 20px;
        margin-right: 115px; }
      .typography__examples__libre-baskerville--regular--16px {
        font-size: 16px; }
  .typography__examples__open-sans {
    margin-left: 83px; }
    .typography__examples__open-sans--15px {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      flex-direction: row; }
      .typography__examples__open-sans--15px--regular {
        font-weight: 400;
        font-size: 15px;
        margin-right: 260px; }
      .typography__examples__open-sans--15px--italic {
        font-size: 15px;
        font-style: italic; }
    .typography__examples__open-sans--bold {
      font-weight: 700;
      font-size: 14px; }

/*---------------------------------------------------------*/
/*----------------BUTTONS-----------------*/
/*---------------------------------------------------------*/
.buttons p {
  color: #7d7e87;
  font-size: 14px;
  margin-left: 13px;
  margin-bottom: 10px;
  font-weight: 600; }

.buttons p:first-child {
  margin-top: 45px; }

.buttons__examples {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }
  .buttons__examples__button {
    margin-right: 65px; }
    .buttons__examples__button:first-child {
      margin-left: 28px; }
    .buttons__examples__button:last-child {
      margin-right: 28px; }
    .buttons__examples__button button {
      font-size: 14px;
      font-weight: 700;
      color: white;
      margin-bottom: 40px;
      outline: none;
      width: 230px;
      height: 50px; }
      .buttons__examples__button button p {
        color: white;
        margin: 0; }
      .buttons__examples__button button.buttons__examples__button--blue-lighter--regular {
        color: #4aa0d5; }
      .buttons__examples__button button.buttons__examples__button--blue-lighter--disabled {
        color: #6eacd2; }
      .buttons__examples__button button.buttons__examples__button--pink-lighter--regular {
        color: #eb586f; }
      .buttons__examples__button button.buttons__examples__button--pink-lighter--disabled {
        color: #ec6076; }
    .buttons__examples__button--blue--regular {
      background-color: #4aa0d5;
      border-top: 0px solid #4aa0d5;
      border-right: 0px solid #4aa0d5;
      border-bottom: 3px solid #2c87c0;
      border-left: 0px solid #4aa0d5; }
    .buttons__examples__button--blue--howered {
      background-color: #1695e3;
      border-top: 0px solid #1695e3;
      border-right: 0px solid #1695e3;
      border-bottom: 3px solid #1176b5;
      border-left: 0px solid #1695e3; }
    .buttons__examples__button--blue--disabled {
      background-color: #89c1e4;
      border-top: 0px solid #89c1e4;
      border-right: 0px solid #89c1e4;
      border-bottom: 0px solid #89c1e4;
      border-left: 0px solid #89c1e4; }
    .buttons__examples__button--pink i {
      margin-right: 25px;
      margin-left: 30px;
      font-size: 22px; }
    .buttons__examples__button--pink--regular {
      background-color: #eb586f;
      border-top: 0px solid #eb586f;
      border-right: 0px solid #eb586f;
      border-bottom: 3px solid #e62a48;
      border-left: 0px solid #eb586f; }
    .buttons__examples__button--pink--howered {
      background-color: #eb415b;
      border-top: 0px solid #eb415b;
      border-right: 0px solid #eb415b;
      border-bottom: 3px solid #e11837;
      border-left: 0px solid #eb415b; }
    .buttons__examples__button--pink--disabled {
      background-color: #f292a1;
      border-top: 0px solid #f292a1;
      border-right: 0px solid #f292a1;
      border-bottom: 0px solid #f292a1;
      border-left: 0px solid #f292a1; }
    .buttons__examples__button--blue-lighter--regular {
      background-color: white;
      border-top: 3px solid #4aa0d5;
      border-right: 3px solid #4aa0d5;
      border-bottom: 3px solid #4aa0d5;
      border-left: 3px solid #4aa0d5; }
    .buttons__examples__button--blue-lighter--howered {
      background-color: #4aa0d5;
      border-top: 0px solid #4aa0d5;
      border-right: 0px solid #4aa0d5;
      border-bottom: 0px solid #4aa0d5;
      border-left: 0px solid #4aa0d5; }
    .buttons__examples__button--blue-lighter--disabled {
      background-color: #c9e3f2;
      border-top: 0px solid #c9e3f2;
      border-right: 0px solid #c9e3f2;
      border-bottom: 0px solid #c9e3f2;
      border-left: 0px solid #c9e3f2; }
    .buttons__examples__button--pink-lighter--regular {
      background-color: white;
      border-top: 3px solid #eb586f;
      border-right: 3px solid #eb586f;
      border-bottom: 3px solid #eb586f;
      border-left: 3px solid #eb586f; }
    .buttons__examples__button--pink-lighter--howered {
      background-color: #eb586f;
      border-top: 0px solid #eb586f;
      border-right: 0px solid #eb586f;
      border-bottom: 0px solid #eb586f;
      border-left: 0px solid #eb586f; }
    .buttons__examples__button--pink-lighter--disabled {
      background-color: #f9cdd4;
      border-top: 0px solid #f9cdd4;
      border-right: 0px solid #f9cdd4;
      border-bottom: 0px solid #f9cdd4;
      border-left: 0px solid #f9cdd4; }

.buttons .normal button {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px; }

.buttons .normal .buttons__examples__button--pink button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row; }

.buttons .rounded button {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; }

.buttons .rounded .buttons__examples__button--pink button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row-reverse; }

.action-notification__list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .action-notification__list__item {
    width: 1115px;
    height: 50px;
    margin-top: 35px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row; }
    .action-notification__list__item:first-child {
      margin-top: 40px; }
    .action-notification__list__item:last-child {
      margin-bottom: 40px; }
    .action-notification__list__item p {
      color: white;
      font-size: 14px;
      margin-left: 55px;
      font-weight: 700; }
    .action-notification__list__item i {
      margin-right: 25px;
      color: rgba(0, 0, 0, 0.4);
      font-size: 30px; }
    .action-notification__list__item--red {
      background-color: #eb4141; }
    .action-notification__list__item--yellow {
      background-color: #f6b61e; }
    .action-notification__list__item--green {
      background-color: #6cca33; }
