// === COLORS ===
$title-color: rgb(125, 126, 135);
$pink-color-1: rgb(235, 88, 111);
$pink-color-2: rgb(209, 78, 99);
$blue-color-1: rgb(74, 160, 213);
$blue-color-2: rgb(66, 142, 190);
$sky-color-1: rgb(216, 233, 240);
$sky-color-2: rgb(192, 207, 214);
$coal-color-1: rgb(69, 69, 83);
$coal-color-2: rgb(61, 61, 74);


// === FONTS ===


