/*---------------------------------------------------------*/
/*----------------ACTION NOTIFICATION-----------------*/
/*---------------------------------------------------------*/
.action-notification{
    &__list{
     list-style: none;
     @include flex-box($flex-direction: column, $align-items: center, $justify-content:flex-start);
     &__item{
         width: 1115px;
         height: 50px;
         margin-top: 35px;

         @include right-border-radius(5px, 5px);
         @include left-border-radius(5px, 5px);
         @include flex-box($justify-content:space-between, $align-items: center);

         &:first-child{
             margin-top: 40px;
         }
         &:last-child{
             margin-bottom: 40px;
         }
         p{
             color: white;
             margin-left: 55px; 
             font-weight: $font-bold;
         }
         i{
             margin-right: 25px;
             color: $transparent-color;
             font-size: $icon-font-size-big;
         }
         &--red{
            background-color: $action-notification-red;
         }
         &--yellow{
            background-color: $action-notification-yellow;
         }
         &--green{
            background-color: $action-notification-green;
         }
     }

    }
}