/*---------------------------------------------------------*/
/*----------------BUTTONS-----------------*/
/*---------------------------------------------------------*/
.buttons{
    
    p{
    color: $title-color;
    font-weight: $font-semibold;
    @include margin($margin-left:13px, $margin-bottom:10px);
    }

    &__examples{
        @include flex-box($align-items: center);

        &__button{
            margin-right: 65px;
            margin-top: 45px;
            &:first-child{
                margin-left: 28px;
            }
            &:last-child{
                margin-right: 28px;
            }
            
            button{
                font-weight: $font-bold;
                color: white;
                margin-bottom: 40px;
                outline: none;
                @include button-dimension;

                p{
                    color: white;
                    @include margin;
                }

                &.buttons__examples__button--blue-lighter--regular{
                color: $blue-color-primary;
                }
                &.buttons__examples__button--blue-lighter--disabled{
                color: $bluelighter-disabled-text-color;
                }
                &.buttons__examples__button--pink-lighter--regular{
                    color: $pink-color-primary;
                }
                &.buttons__examples__button--pink-lighter--disabled{
                    color: $pinklighter-disabled-text-color;
                }
            }

            &--blue{

                &--regular{
                    @include button-style($blue-color-primary, 0px solid $blue-color-primary, 0px solid $blue-color-primary, 3px solid darken($blue-color-primary, 10%), 0px solid $blue-color-primary);
                }
                &--howered{
                    @include button-style($blue-howered-button-color, 0px solid $blue-howered-button-color, 0px solid $blue-howered-button-color, 3px solid darken($blue-howered-button-color, 10%), 0px solid $blue-howered-button-color);
                }
                &--disabled{
                    @include button-style($blue-disabled-button-color, 0px solid $blue-disabled-button-color, 0px solid $blue-disabled-button-color, 0px solid $blue-disabled-button-color, 0px solid $blue-disabled-button-color);
                }
            }
            &--pink{
                & i{
                     font-size: $icon-font-size;
                     @include margin($margin-right: 25px, $margin-left: 30px);
                 }

                &--regular{
                    @include button-style($pink-color-primary, 0px solid $pink-color-primary, 0px solid $pink-color-primary, 3px solid darken($pink-color-primary, 10%), 0px solid $pink-color-primary);
                }
                &--howered{
                    @include button-style($pink-howered-button-color, 0px solid $pink-howered-button-color, 0px solid $pink-howered-button-color, 3px solid darken($pink-howered-button-color, 10%), 0px solid $pink-howered-button-color);
                }
                &--disabled{
                    @include button-style($pink-disabled-button-color, 0px solid $pink-disabled-button-color, 0px solid $pink-disabled-button-color, 0px solid $pink-disabled-button-color, 0px solid $pink-disabled-button-color);
                } 
            }
            &--blue-lighter{

                &--regular{
                    @include button-style(white, 3px solid $blue-color-primary, 3px solid $blue-color-primary, 3px solid $blue-color-primary, 3px solid $blue-color-primary); 
                }
                &--howered{
                    @include button-style($blue-color-primary, 0px solid $blue-color-primary, 0px solid $blue-color-primary, 0px solid $blue-color-primary, 0px solid $blue-color-primary);
                }
                &--disabled{
                    @include button-style($bluelighter-disabled-button-color, 0px solid $bluelighter-disabled-button-color, 0px solid $bluelighter-disabled-button-color, 0px solid $bluelighter-disabled-button-color, 0px solid $bluelighter-disabled-button-color);
                }
            }
            &--pink-lighter{

                &--regular{
                    @include button-style(white, 3px solid $pink-color-primary, 3px solid $pink-color-primary, 3px solid $pink-color-primary, 3px solid $pink-color-primary); 
                }
                &--howered{
                    @include button-style($pink-color-primary, 0px solid $pink-color-primary, 0px solid $pink-color-primary, 0px solid $pink-color-primary, 0px solid $pink-color-primary);
                }
                &--disabled{
                    @include button-style($pinklighter-disabled-button-color, 0px solid $pinklighter-disabled-button-color, 0px solid $pinklighter-disabled-button-color, 0px solid $pinklighter-disabled-button-color, 0px solid $pinklighter-disabled-button-color);
                }
            }
        }
    }

    .normal {
        button{
        @include left-border-radius(7px, 7px);
        @include right-border-radius(7px, 7px);
        }
        .buttons__examples__button--pink button{
                 @include flex-box($align-items:center);
        }
    }
    .rounded {
        button{
        @include left-border-radius(50px, 50px);
        @include right-border-radius(50px, 50px);
        }
        .buttons__examples__button--pink button{
                 @include flex-box($flex-direction: row-reverse,$align-items:center)
        }
    }
    
}