/*---------------------------------------------------------*/
/*----------------CHECKBOXES-----------------*/
/*---------------------------------------------------------*/
.checkboxes{
    &__list{
        list-style: none;
        @include flex-box($justify-content:flex-start, $align-items:center);
        flex-wrap: wrap;

        &__example{
            font-weight: 600;
            color: $coal-color-1;
            margin: 50px 0 48px 0;
            &:first-child{
                margin-left: 53px;
                width: 305px;
            }
            &:nth-child(2){
                width: 295px;
            }
            &:nth-child(3){
                width: 281px;
            }


            input[type="checkbox"]{
                display: none;
            }
             input[type="checkbox"] + label:before{
                @include custom-radio-checkbox($sky-color-2, 18px, 18px);
                @include right-border-radius(3px, 3px);
                @include left-border-radius(3px, 3px);
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                margin-top: -5px;
            }

            &--unchecked{

            }
            &--checked input[type="checkbox"] + label:before{
               @include custom-radio-checkbox($pink-color-1, 12px, 12px);
                border: 3px solid $sky-color-2;
            }
            &--hovered input[type="checkbox"] + label:before{
                 @include custom-radio-checkbox($pink-color-1, 16px, 16px);
                border: 1px solid $sky-color-2;
            }
            &--disabled{
                color: $sky-color-2;
            }

        }
    }
}