/*---------------------------------------------------------*/
/*----------------COLOR SCHEME-----------------*/
/*---------------------------------------------------------*/
.color-scheme{
    font-weight: $font-bold;

    &__list{
        list-style: none;
        @include flex-box($align-items:center, $justify-content:space-around);
        
        &__item{
            @include margin (34px, 0, 34px, 0);

            &__colors{
                width: 200px;
                margin-bottom: 23px;
                @include flex-box($justify-content:space-around, $align-items:center);

                & p{
                    width: 50%;
                    height: 100px;
                    color: $transparent-color;
                    @include flex-box($align-items:center, $justify-content:center);

                    &:first-child{
                    @include left-border-radius;                
                    }
                    &:last-child{
                    @include right-border-radius;
                    }
                }

                &--pink{
                    p:first-child{
                        background-color: $pink-color-primary;
                    }
                    p:last-child{
                        background-color: $pink-color-secondary;
                    }
                }
                &--blue{
                    p:first-child{
                        background-color: $blue-color-primary;
                    }
                    p:last-child{
                        background-color: $blue-color-secondary;
                    }
                }
                &--sky{
                    p:first-child{
                        background-color: $sky-color-primary;
                    }
                    p:last-child{
                        background-color: $sky-color-secondary;
                    }
                }
                &--coal{
                    p:first-child{
                        background-color: $coal-color-primary;
                    }
                    p:last-child{
                        background-color: $coal-color-secondary;
                    }
                }
            }
            &__name{
                color: $title-color;
                text-align: center;
            }
        }
    }
}