.title{
    color: $title-color;
    margin-bottom: 26px;
    font-size: $font-size-small;
}
.container{
    background-color: white;
    @include left-border-radius;
    @include right-border-radius;
    box-shadow: $box-shadow-common;
    margin-bottom: 50px;
}



