/*---------------------------------------------------------*/
/*----------------PROGRESS BARS-----------------*/
/*---------------------------------------------------------*/
.progress-bars{

    width: 860px;
    &__list{
        list-style: none;
        height: 373px;
        @include flex-box;
        flex-wrap: wrap;

        &__example{
            span{
                display: block;
                position: relative;

                &::before{
                        width: 350px;
                        position: absolute;
                    }
            }
            &--small {
               div{
                    width: 344px;
                    padding: 3px;
                    @include right-border-radius(15px,15px);
                    @include left-border-radius(15px,15px);
                    @include border(1px, solid, $grey-common);
                
                   span {
                        @include right-border-radius(15px,15px);
                        @include left-border-radius(15px,15px);
                        height: 22px;

                        &::before{
                            height: 30px;
                            text-align: center;
                        }
                    }
                }
            }
            &--big {
               div{
                    width: 344px;
                    @include left-border-radius(10px,10px);
                    @include border(1px, solid, $grey-common);
                    border-right: 2px solid darken($grey-common, 10%);

                   span {
                        @include right-border-radius(2px,2px);
                        @include left-border-radius(10px,10px);
                        height: 38px;

                        &::before{
                            width: 330px;
                            height: 38px;
                            @include flex-box($justify-content:flex-end, $align-items:center);
                        }
                    }
                }
            }
            &--pink{
                @include margin(35px, 50px, 60px, 45px);
                
                span{
                    background-color: $pink-color-secondary;
                    width: 40%;

                    &::before{
                        content: "40%";
                    }
                }
            }
            &--blue{
                @include margin(0, 50px, 60px, 45px);
                
                span{
                    background-color: $blue-color-primary;
                    width: 83%;

                    &::before{
                        content: "83%";
                        color: white;
                    }
                }
            }
            &--sky{
                @include margin(30px, 0, 50px, 0);

                span{
                    background-color: $sky-color-secondary;
                    width: 42%;
                    border-bottom: 2px solid darken($sky-color-secondary, 5%);

                    &::before{
                        content: "42%";
                    }
                }
            }
            &--coal{
                @include margin(0, 0, 55px, 0);

                span{
                    background-color: $coal-color-secondary;
                    width: 78%;
                    border-bottom: 2px solid darken($coal-color-secondary, 5%);
                    &::before{
                        content: "78%";
                    }
                }
            }

// === circular progress bars ===         

            .c100.normal{
                font-size: 100px;

                &:after{
                    width: 60px;
                    height: 60px;
                    top: 20px;
                    left: 20px;
                
                }
            }
            .c100.blue{
                background-color: $grey-common;
                @include margin(0,140px, 0, 140px);
                & span{
                color: $coal-color-secondary;
                }
                &:after{
                    background-color: white;
                }

                & .bar, & .fill{
                border-color: $blue-color-primary;
                }
            }

            .c100.sky{
                background-color: white;
                @include margin(0,140px, 0, 0);

                & span{
                    color: $coal-color-secondary;
                }
                &:after{
                    background-color: white;
                }

                & .bar, & .fill{
                    border-color: $sky-color-primary;
                    
                }
            }

            .c100.pink{
                background-color: $pink-disabled-button-color;

                & span{
                    color: white;
                }
                &:after{
                    background-color: $coal-color-secondary;
                }

                & .bar, & .fill{
                    border-color: darken($pink-color-primary, 5%);
                }
            }

        }
    }
}