/*---------------------------------------------------------*/
/*----------------PROGRESS BARS-----------------*/
/*---------------------------------------------------------*/
.progress-bars{

    &__examples{
        height: 375px;
        width: 860px; 

        &__normal{
            list-style: none;
            @include flex-box;
            flex-wrap: wrap;
            margin-bottom: 30px;

            &__example{
                width: 50%;

                & > progress{
                    -webkit-appearance: none;
                    position: relative;
                    width: 350px;
                }

                &--thin{
                    height: 30px;

                    &::-webkit-progress-bar{
                        @include right-border-radius(20px,20px);
                        @include left-border-radius(20px,20px);
                        @include flex-box($align-items:center);
                        background-color: white;
                        @include border (2px, solid, $grey-common);
                    }

                    &::-webkit-progress-value{
                        height: 22px;
                        @include right-border-radius(20px,20px);
                        @include left-border-radius(20px,20px);
                        margin-left: 2px;
                    }

                    &::before{
                        content: "";
                        width: 350px;
                        height: 30px;
                        position: absolute;
                        font-size: $font-size-ultra-small;
                        @include flex-box($align-items:center,$justify-content:center);
                    }
                }

                &--red{
                    @include margin(35px, 0, 0, 45px);

                    &::-webkit-progress-value{
                        background-color: $pink-color-secondary;
                    }

                    &::before{
                        content: "40%";
                    }
                }
                &--blue{
                    @include margin(60px, 0, 0, 45px);

                    &::-webkit-progress-value{
                        background-color: $blue-color-primary;
                    }

                    &::before{
                        content: "83%";
                        color: white;
                    }
                }


                &--thick{
                    height: 40px;

                    &::-webkit-progress-bar{
                        @include left-border-radius(10px,10px);
                        @include flex-box($align-items:center);
                        background-color: white;
                        @include border (1px, solid, $grey-common);
                        border-right:2px solid darken($grey-common, 20%);
                    }

                    &::-webkit-progress-value{
                        height: 39px;
                        @include right-border-radius(3px,3px)
                        @include left-border-radius(10px,10px);
                        @include border(3px, solid, transparent);
                    }

                    &::before{
                        content: "";
                        width: 335px;
                        height: 40px;
                        position: absolute;
                        font-size: $font-size-ultra-small;
                        @include flex-box($align-items:center,$justify-content:flex-end);
                    }
                }

                &--grey{
                    @include margin(30px, 65px, 0, 0);

                    &::-webkit-progress-value{
                        background-color: $sky-color-secondary;
                        border-bottom-color: darken($sky-color-secondary, 5%);
                    }

                    &::before{
                        content: "42%";
                    }
                }
                &--black{
                    @include margin(55px, 65px, 0, 0);

                    &::-webkit-progress-value{
                        background-color: $coal-color-secondary;
                        border-bottom-color: darken($coal-color-secondary, 5%);
                    }

                    &::before{
                        content: "78%";
                    }
                }
            }
        }

        &__rounded{
            list-style: none;
            @include flex-box($justify-content:center, $align-items:center);
            margin-top: 55px;

            &__example{
                &  .circle{
                    width: 100px;
                    height: 100px;
                    position: relative;
                    @include flex-box($justify-content:center);

                    & .overflow{
                        width: 50px;
                        height: 100px;
                        overflow: hidden;

                        & .left-circle{
                            width: 100px;
                            height: 100px;
                            border: 20px solid transparent;
                            border-radius: 100%;
                        }

                        & .right-circle{
                            width: 100px;
                            height: 100px;
                            border: 20px solid transparent;
                            border-radius: 100%;
                            margin-left: -50px;
                        }
                    }

                    span{
                        width: 60px;
                        height: 60px;
                        font-size: $font-size-small;
                        font-weight: $font-semibold;
                        color: $coal-color-secondary;
                        @include flex-box($align-items:center, $justify-content:center);
                        position: absolute;
                        border-radius: 100%;
                        top: 20%;
                        left: 20%;
                    }
                }

                &--blue{

                    .circle{

                        .overflow{
                            .left-circle{
                                    transform: rotateZ(135deg);
                                    border-bottom-color: $grey-common;
                                    border-left-color: $grey-common;
                                    border-top-color: $blue-color-primary;
                                    border-right-color: $blue-color-primary;
                            }

                            .right-circle{
                                border-top-color: $blue-color-primary;
                                border-left-color: $blue-color-primary;
                                border-right-color: $grey-common;
                                border-bottom-color: $grey-common;
                                transform: rotateZ(135deg);
                            }
                        }
                    }
                }
                &--sky{
                    .circle{

                        .overflow{
                            .left-circle{
                                    transform: rotateZ(73.8deg);
                                    border-top-color: $sky-color-primary;
                                    border-right-color: $sky-color-primary;
                            }

                            .right-circle{
                                border-top-color: $sky-color-primary;
                                border-left-color: $sky-color-primary;
                                transform: rotateZ(135deg);
                            }
                        }
                    }
                }
                &--pink{
                    .circle{
                        .overflow{
                            .left-circle{
                                    transform: rotateZ(45deg);
                                    border-bottom-color: $pink-disabled-button-color;
                                    border-left-color: $pink-disabled-button-color;
                                    border-top-color: darken($pink-color-primary, 5%);
                                    border-right-color: darken($pink-color-primary, 5%);
                            }
                            .right-circle{
                                border-top-color: darken($pink-color-primary, 5%);
                                border-left-color: darken($pink-color-primary, 5%);
                                border-right-color: $pink-disabled-button-color;
                                border-bottom-color: $pink-disabled-button-color;
                                transform: rotateZ(88.2deg);
                            }
                        }
                        span{
                            color: white;
                            background-color: $coal-color-secondary;
                        }
                    }
                }
                
            }

            & > .dot{
                        height: 5px;
                        width: 5px;
                        border-radius: 100%;
                        background-color: darken($grey-common, 20%);
                        margin-bottom: 3px;
                        padding: 0;
                        @include margin(0, 65px, 0, 65px);
            }
        }



    }
}
