/*---------------------------------------------------------*/
/*----------------RADIO BUTTONS-----------------*/
/*---------------------------------------------------------*/
.radio-buttons{
    &__list{
        list-style: none;
        @include flex-box($justify-content:flex-start, $align-items:center);    
        flex-wrap: wrap;

        &:after{
            content: "";
            height: 1px;
            width: 1061px;
            background-color: $grey-common;
            @include margin(0, auto, 0, auto);
        }
        &__example{
            font-weight: $font-semibold;
            color: $coal-color-primary;
            @include margin(50px, 0, 48px, 0);

            &:first-child{
                margin-left: 53px;
                width: 304px;
            }
            &:nth-child(2){
                width: 294px;
            }
            &:nth-child(3){
                width: 280px;
            }


            input[type="radio"]{
                display: none;
            }
            input[type="radio"] + label:before{
                @include custom-radio-checkbox($grey-common, 18px, 18px);
                @include right-border-radius(50%, 50%);
                @include left-border-radius(50%, 50%);
                content: "";
                display: inline-block;
                vertical-align: middle;
                @include margin(-5px, 20px);
            }

            &--off {

            }
            &--on input[type="radio"] + label:before{
                @include custom-radio-checkbox($blue-color-primary, 12px, 12px);
                border: 3px solid $grey-common;
            }
            &--hovered input[type="radio"] + label:before{
                @include custom-radio-checkbox($blue-color-primary, 16px, 16px);
                border: 1px solid $grey-common;
            }
            &--disabled{
                color: $grey-common;
            }

        }

    }
}