/*---------------------------------------------------------*/
/*----------------TYPOGRAPHY-----------------*/
/*---------------------------------------------------------*/
.typography{


    &__examples{
            color: $coal-color-secondary;
            padding-bottom: 70px;
            & p:first-child{
                color: $title-color;
                font-size: $font-size-small;
                font-weight: $font-semibold;
                font-family: $font-family-common;
                font-style: normal;
                padding-top: 40px;
            }
                &__montserrat{
                    font-family: 'Montserrat';
                    margin-left: 83px;
                    &--regular{
                            font-size: $font-size-biggest;
                            font-weight: $font-regular;
                    }
                    &--bold{
                            font-weight: $font-bold;

                        &--48px{
                            font-size: $font-size-very-big;
                        }
                        &--32px{
                            font-size: $font-size-big;
                        }
                        &--24px{
                            font-size: $font-size-medium-big;
                        }
                    }
                }

                &__libre-baskerville{
                    font-family: 'Libre Baskerville';
                    margin-left: 83px;
                    &--italic{
                        font-size: $font-size-medium;
                        font-weight: $font-regular;
                        font-style: italic;
                    }
                    &--regular{
                        @include flex-box($align-items: flex-end);

                        &--20px{
                            font-size: $font-size-medium;
                            margin-right: 115px;
                        }
                        &--16px{
                            font-size: $font-size-small;
                        }
                    }
                }

                &__open-sans{
                    margin-left: 83px;
                 &--15px{
                    @include flex-box($align-items: flex-end);

                    &--regular{
                        font-weight: $font-regular;
                        font-size: $font-size-very-small;
                        margin-right: 260px;
                    }
                    &--italic{
                        font-size: $font-size-very-small;   
                        font-style: italic;
                    }
                 }
                 &--bold{
                    font-weight: $font-bold;
                 }
                }


        
    }
}