@mixin left-border-radius($top-left:10px, $bottom-left:10px){
    border-top-left-radius: $top-left;
    border-bottom-left-radius: $bottom-left;
}

@mixin right-border-radius($top-right:10px, $bottom-right:10px){
    border-top-right-radius: $top-right;
    border-bottom-right-radius: $bottom-right;
}

@mixin flex-box($display: flex, $justify-content: flex-start, $align-items: flex-start, $flex-direction: row){
    display: $display;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
}

@mixin button-dimension($width: 230px, $height: 50px){
    width: $width;
    height: $height;
}

@mixin margin($margin-top: 0, $margin-right: 0, $margin-bottom: 0, $margin-left: 0){
    margin: $margin-top $margin-right $margin-bottom $margin-left;
}

@mixin button-style($background-color, $border-top, $border-right, $border-bottom, $border-left){
      background-color: $background-color;
      border-top: $border-top;
      border-right: $border-right;
      border-bottom: $border-bottom;
      border-left: $border-left;
}

@mixin custom-radio-checkbox($background-color, $height, $width){
      background-color:$background-color;
      height: $height;
      width:  $width;
}
