// === COLORS ===
$title-color: rgb(125, 126, 135);
$pink-color-1: rgb(235, 88, 111);
$pink-color-2: rgb(209, 78, 99);
$blue-color-1: rgb(74, 160, 213);
$blue-color-2: rgb(66, 142, 190);
$sky-color-1: rgb(216, 233, 240);
$sky-color-2: rgb(192, 207, 214);
$coal-color-1: rgb(69, 69, 83);
$coal-color-2: rgb(61, 61, 74);
$transparent-color: rgba(0, 0 , 0, 0.4);
$blue-howered-button-color: rgb(22, 149, 227);
$blue-disabled-button-color: rgb(137, 193, 228);
$pink-howered-button-color: rgb(235, 65, 91);
$pink-disabled-button-color: rgb(242, 146, 161);
$bluelighter-disabled-button-color: rgb(201,227,242);
$pinklighter-disabled-button-color: rgb(249,205,212);

// === FONTS ===


